                                                            #header {
                                                                width: 100%;
                                                                height: 80vh;
                                                                margin-top: -30px;
                                                            }
                                                            
                                                            #header h1 {
                                                                margin: 0 0 10px 0;
                                                                font-size: 45px;
                                                                font-weight: 700;
                                                                color: black;
                                                            }
                                                            
                                                            #header .brand-name {
                                                                color: #3498db;
                                                            }
                                                            
                                                            #header h2 {
                                                                color: #484848;
                                                                font-size: 34px;
                                                            }
                                                            
                                                            #header .btn-get {
                                                                font-weight: 500;
                                                                font-size: 16px;
                                                                letter-spacing: 1px;
                                                                display: inline-block;
                                                                padding: 10px 30px;
                                                                border-radius: 50px;
                                                                transition: 0.5s;
                                                                color: #0c0e0f;
                                                                border: 2px solid #3498db;
                                                                text-decoration: none;
                                                            }
                                                            
                                                            #header .btn-get:hover {
                                                                background: #3498db;
                                                                color: #fff;
                                                            }
                                                            
                                                            .header-img {
                                                                justify-content: right;
                                                                margin-left: 100px;
                                                                margin-top: 70px;
                                                                width: 30%;
                                                            }
                                                            
                                                            #header .animated {
                                                                animation: up-down 2s ease-in-out infinite alternate-reverse both;
                                                            }
                                                            
                                                            @-webkit-Keyframes up-down {
                                                                0% {
                                                                    transform: translateY(20px);
                                                                }
                                                                100% {
                                                                    transfrom: translateY(-20px);
                                                                }
                                                            }
                                                            /* @Keyrames up-down {
                                                0% {
                                                    tranform: translateY(20px);
                                                }
                                            } */
                                                            /* .div {
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-left: 130px;
            padding-top: 70px;
        }
         */
                                                            /* .images {
                                                        margin-left: 80%;
                                                        margin-top: 70px;
                                                    }
                                                    
                                                    hr {
                                                        width: 500px;
                                                    }
                                                    
                                                    .rowmx {
                                                        margin-top: -350px;
                                                    }
                                                    
                                                    .contain {
                                                        margin-left: 70%;
                                                        margin-top: 20px;
                                                    }
                                                    
                                                    .h4 {
                                                        color: black;
                                                    }
                                                    
                                                    .card-body {
                                                        padding: 0.4rem !important
                                                    }
                                                    
                                                    .nav-link {
                                                        color: #ad0000;
                                                        font-size: 15px;
                                                        text-align: left
                                                    }
                                                    
                                                    .col-md-3 {
                                                        padding-bottom: 4px;
                                                    }
                                                    
                                                    Box {
                                                        background-color: darkgoldenrod;
                                                    } */
                                                            
                                                            .scale {
                                                                margin-left: 100px;
                                                                margin-top: 40px;
                                                            }
                                                            
                                                            hr {
                                                                width: 40%;
                                                            }
                                                            
                                                            .color {
                                                                color: orange;
                                                            }
                                                            
                                                            .h2 {
                                                                margin-top: 60px;
                                                                margin-left: 30px;
                                                            }
                                                            
                                                            .ig {
                                                                margin-left: 20px;
                                                                margin-bottom: -70px
                                                            }
                                                            
                                                            .src {
                                                                margin-left: 650px;
                                                                margin-top: -400px
                                                            }
                                                            
                                                            .Stats {
                                                                margin-top: 80px
                                                            }
                                                            
                                                            .Stats_b2 {
                                                                font-size: 20px;
                                                            }
                                                            
                                                            .stt {
                                                                margin-left: 450px;
                                                                margin-top: -130px;
                                                            }
                                                            
                                                            .Stat {
                                                                font-size: 20px;
                                                            }
                                                            
                                                            .sttts {
                                                                margin-top: 60px;
                                                            }
                                                            
                                                            .Stats_b2Variant {
                                                                font-size: 20px;
                                                            }
                                                            
                                                            .px {
                                                                margin-left: 450px;
                                                                margin-top: -130px;
                                                            }
                                                            
                                                            .Stats_b2Variant__PyK99 {
                                                                font-size: 20px;
                                                            }
                                                            
                                                            .why {
                                                                margin-left: 25%;
                                                                margin-top: 50px;
                                                            }
                                                            
                                                            .class {
                                                                margin-left: 64px;
                                                                padding-top: 20px;
                                                            }
                                                            
                                                            h6 {
                                                                margin-left: 15px;
                                                                padding-top: 20px;
                                                            }
                                                            
                                                            .group {
                                                                margin-left: 35%
                                                            }
                                                            
                                                            #course .head {
                                                                text-align: center;
                                                            }
                                                            
                                                            #course {
                                                                width: 100%;
                                                                /* height: 80vh; */
                                                                margin-top: -30px;
                                                            }
                                                            
                                                            #course h1 {
                                                                text-align: center;
                                                                margin-left: 550px;
                                                                letter-spacing: 10px;
                                                                /* margin-bottom: 80% */
                                                            }
                                                            
                                                            #course strong {
                                                                margin-left: -60px
                                                            }
                                                            
                                                            .items-start {
                                                                background-color: burlywood;
                                                            }
                                                            
                                                            .cards {
                                                                width: 30rem;
                                                            }
                                                            
                                                            .btn-item {
                                                                margin-left: 10px;
                                                                padding: 4px;
                                                                background-color: #3498db;
                                                            }
                                                            
                                                            .btn-item:hover {
                                                                color: rgb(149, 93, 223)
                                                            }
                                                            
                                                            .item {
                                                                margin-left: 20px;
                                                            }